# packages in environment at C:\Users\mpps\anaconda3:
#
# Name                    Version                   Build  Channel
blas                     
certifi                   
curl                     
flask                     
gmpy2                     
httplib2                  
keras                     
matplotlib                
numpy                     
numpy-base                
pandas                    
scikit-image              
scikit-learn              
scipy                     
tensorboard               
tensorflow                
tqdm                      
torch
